
<table>
	<thead>
		<tr>
			<th>Título 1</th>
			<th>Título 2</th>
			<th>Título 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Info 1</td>
			<td>Info 2</td>
			<td>Info 3</td>
		</tr>
	</tbody>
</table>


@code {

}
